@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.card {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .card h3 {
    color: #c07224;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card p {
    color: #000;
    font-size: 14px;
    line-height: 1.5;
  }
#card-linkedin{
    background: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
#linkedin{
    display: flex;
    flex-direction: column;
}

.card {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card h3 {
  color: #FFAD00;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
.card p {
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}